:root {
  --alert-color: #6941c6;
  --alert-background-color: #f9f5ff;
}

html[data-theme='dark'] {
  --alert-color: #4ef1c9;
  --alert-background-color: rgb(64 64 64 / 39%);
}

.alert {
  border: 1px solid var(--alert-color);
  background-color: var(--alert-background-color);
  color: var(--alert-color);
  /* title 53389E */
  /* description 6941C6 */
}

.alert svg {
  fill: var(--alert-color) !important;
}

.alert a {
  color: var(--alert-color);
  font-weight: 500;
}
