:root {
  --key-color: black;
}

html[data-theme='dark'] {
  --key-color: white;
}

.alert {
  /*border: var(--key-color);*/
  border: 1px solid #7f56d9;
  background-color: #f9f5ff;
  color: #6941c6;
  /* title 53389E */
  /* description 6941C6 */
}

.alert svg {
  fill: #53389e !important;
}

.alert a {
  color: #53389e;
}
